# Downloading dataset
gdown

# Training pipeline
deepspeed
tensorboard
Pillow
einops

# https://github.com/state-spaces/mamba
mamba-ssm

# S4
opt_einsum

# x-transformers
x-transformers

# Evaluation
tqdm
colorama

# Analytics
lovely-tensors
pandas
seaborn
matplotlib

# Latest torch_optimizer
git+https://github.com/jettify/pytorch-optimizer.git
