# Downloading dataset
gdown

# Training pipeline
deepspeed
tensorboard
Pillow
einops

# https://github.com/state-spaces/mamba
mamba-ssm

# S4
opt_einsum

# Evaluation
tqdm
colorama

# Analytics
lovely-tensors
pandas
seaborn
matplotlib
